# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
data
sc-dcsa.sh
sc-dcsa.log
sc-dcsa_user.log
sc-dcsa_party.log
sc-dcsa_order.log
sc-dcsa_tax.log
sc-dcsa_bkg.log
sc-dcsa_ebl.log
sc-dcsa_logistics.log
sc-dcsa_jit.log
sc-dcsa_ovs.log
sc-dcsa_tnt.log
internal/common/keys
frontend/node_modules
frontend/.env
